#flexdash {
  display: flex;
  margin-right: 5vw;
}

#flexchild:first-child {
  margin-right: 20px;
}
#stocks-graphs {
  display: flex;
  margin-top: 10vh;
  flex-wrap: wrap;
}

#trends {
  margin-left: 15vw;
  color: white;
}
#stocks-graphs {
  margin-top: 2vh;
  margin-left: 5vw;
}
@media  (max-width:700px){
  #flexdash {
    display: flex;
    margin-right: 5vw;
    flex-direction: column-reverse;
  }
}