.stock-details-container{
    width: 25vw;
    display: flex;
    flex-direction: column;
    color: #59588D;
    margin-left: 10vw;
}

.stock-details {
    display: flex;
    flex-direction: column;
    color: rgb(135, 214, 240);
    margin-left: 0vw;
}
#compname{
    font-size:1.2em;
}
#compvalue{
    font-size: 1.2em;
}
#compindustry{
    font-size: 1.1em;
}
#compsector{
    font-size: 1.1em;
}
