/* Css of the HowToTrade.js goes here! */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

.howtotrade-container {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    top: 4vh;
    left: 25vw;
}

.card-list-container {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    top: 17vh;
    left: 24.5vw;
}
.HowToTrade_Header{
    text-align: center;
    margin-top: 5vh;
    font-style: normal;
    font-weight: bold;
    font-size: 2.2em;
    line-height: 4vh;
/* identical to box height */
    color: #FFFFFF;
    opacity: 0.9;
    font-family: 'Montserrat', sans-serif;

}

