.trendChart {
  text-align: center;
  color: white;
  width: 17vw;
  margin: 20px;
}

.trendChart__data {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.trendChart__percentGreen {
  color: #34a853;
}

.trendChart__percentRed {
  color: #ea4335;
}
