#top-container{
    width: 100%;
}
.main-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    height: 85vh;
}

.cards-container {
    width:65%;
    height:100%;
}

.balance-card {
position:relative;
width:30vw;
height:9vh;
border-radius: 20px;
margin:auto;
padding:7vh;
text-align: center;
border-color: white;
background:linear-gradient(321.03deg, #1B40D1 0%, #1B40D1 0.01%, #0B1A54 91.45%);;
color: white;
margin-left: 7vw;
}
.balance-card-header{
    display: flex;
    justify-content: space-between;
    width:215px;

}
.notif-mark {
width: 20px;
height: 20px;
background: linear-gradient(180deg, #FF40A5 0%, #E14CD1 100%);
mix-blend-mode: normal;
border-radius: 22px;
opacity: 0.8;
box-shadow: 0px 0px 25px #E01066;
}
.text-1{
font-family: Arial;
font-style: normal;
font-weight: bold;
font-size: 21px;
line-height: 24px;

color: #FFFFFF;
}
.text-2{
width:215px;
margin-top:20px;
margin-left:40px;
font-family: Nunito Sans;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 24px;
/* identical to box height, or 133% */

display: flex;
align-items: center;
letter-spacing: 0.05em;

color: #FFFFFF;

}

.bank-cards-container{
width:90%;
margin-left:65px;
margin-top: 2.5vh;
display: flex;
justify-content: space-between;
flex-direction: row;
}
#ysa{
    margin-bottom: 0vh;
}
.visa-card{
    width:47%;
    height:28vh;
    background: linear-gradient(227.93deg, #1B1A60 -10%, #5E1A86 83.61%);
    border-radius: 20px;
    margin-right: 3vw;
}
.platinum-card{
    width:49%;
    height:28vh;

    filter: drop-shadow(0px 12px 25px rgba(15, 51, 107, 0.25));
    background: linear-gradient(149.29deg, #390404 -9.92%, #741D30 113.84%);
    border-radius: 20px;
}
.button-container{
    display: flex;
    width:60%;
    justify-content: space-between;
    margin-left: 65px;
    margin-top: 30px;
}

.user-container{
    width :30%;
    height:100%;
    overflow: hidden;
    margin-left: 10vw;
}

.image-container{
width: 150px;
height: 150px;
border-radius: 150px;
overflow: hidden;
margin:auto

}
.user-image{
    max-width: 100%;
    max-height: 100%;
}
.text-4{
height: 36px;
margin-top: 30px;
font-family: Arial;
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 36px;
text-align: center;
color: #FFFFFF;
mix-blend-mode: normal;
}
.visa-logo{
    width:72px;
    height:24px;
    margin-top: 23px;
    margin-left:23px;
}
.sub-line{
margin-left:23px;
margin-top: 8px;
height: 78px;
width:24px;
}

.sample-text{
    display:flex;
    width:35%;
    margin-top: 5px;
    margin-left: 50px;
    justify-content: space-around;
}
@media (max-width: 800px) {
    .main-container {
      flex-direction: column-reverse;
      height:fit-content;
    padding-bottom: 5vh;
    }
    .balance-card{
        width: 40vw;;
    }
    .balance-card-header{
        display: flex;
        justify-content:flex-start;
        width:60vw;
    }
    .text-2{
        width: fit-content;
    }

    .bank-cards-container{
        width:60vw;
        margin-left:10vw;
        margin-top: 5vh;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        }
        .visa-card{
            width:60vw;
            height:15vh;
            overflow: hidden;
        }
        .platinum-card{
            margin-top: 3vh;
            width:60vw;
            height:15vh;
            overflow: hidden;
        }
        .sub-line{
            margin-left:23px;
            margin-top: 8px;
            height: 3vh;
            width:24px;
            }
        .sample-text{
            display:flex;
            width:35vw;
            margin-left: 12vw;
            
        }
        .button-container{
            display: flex;
            width:60%;
            justify-content: space-between;
            margin-left:10vw;
            margin-top: 30px;
        }
  }
