@font-face {
  font-family: 'gilroybold';
  src: url(./assets/CSS-files/Gilroy-ExtraBold.otf);
}
@font-face {
  font-family: 'gilroylight';
  src: url(./assets/CSS-files/Gilroy-Light.otf);
}
.signin-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.signin-header {
  width: 250px;
  height: 58px;
  /* margin-top: 130px; */
  font-family: gilroybold;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #ffffff;
  text-align: center;
}

.signin-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-field {
  width: 40vw;
  height: 50px;
  color: black;
  background: white;
  border-radius: 12px;
}

.tc-text {
  color: #ffffff;
  width: 238px;
  height: 20px;
}

.signin-button {
  width: 128.25px;
  height: 57px;
  margin-top: 25px;
  background: #14b5e5;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.signin-button-text {
  margin: auto;
  font-family: Inter;
  font-style: normal;
  font-weight: 800;
  font-size: 19.95px;
  line-height: 36px;
  font-size: 20px;
  color: #ffffff;
}

.tc-text-container {
  display: flex;
  margin-top: 5px;
}

.footer-text {
  width: 219px;
  height: 24px;
  font-family: Inter;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}
.footer-text-link {
  width: 77px;
  height: 24px;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}
.password-reset-link {
  width: 77px;
  height: 24px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  text-decoration: underline;
  cursor: pointer;
}
.MuiInputLabel-filled.MuiInputLabel-shrink {
  transform: translate(12px, 2px) scale(1) !important ;
}
.MuiFormLabel-root {
  font-weight: bold !important;
}
/* .MuiInputLabel-formControl{
    top:-10px !important;
} */
/* @media  (max-width:1000px){
    .text-field{
        width: 100%;
    }
} */
@media (max-width: 700px) {
  .text-field {
    width: 90vw;
  }
  .signin-container {
    height: max-content;
  }
}
/* background-image: linear-gradient(to right bottom, #de8308, #f36d2e, #ff544e, #ff3e71, #ff3396, #ff309c, #fe2ea1, #fd2ca7, #ff218c, #ff2271, #f92c58, #f03940);

background-image: linear-gradient(to right bottom, #429bf2, #00aff9, #00c1f8, #00d1f0, #00dfe5, #00e5db, #00ebcc, #12f0b9, #00f0a6, #00ef91, #00ee78, #25ec5c);

background-image: linear-gradient(to right bottom, #400def, #541fef, #642def, #7239ef, #7e44ef, #9349ea, #a450e5, #b257e1, #c65dd7, #d565ce, #e16fc6, #e97bc0);

background-image: linear-gradient(to left top, #110149, #34095f, #561274, #791c88, #9d269b, #a73aab, #b24cbb, #bc5dcb, #ac72d8, #9d84e0, #9293e3, #8da0e3);

background-image: linear-gradient(to right bottom, #110149, #1b0960, #271278, #321c92, #3d26ac, #8218a7, #b2039e, #d80692, #f64c68, #f58654, #e6b763, #d6e094);

background-image: linear-gradient(to right bottom, #110149, #3b0052, #5d0057, #7d0059, #9a0059, #b11f53, #c4394c, #d35345, #d97b45, #da9f52, #d8c16e, #d6e094);

background-image: linear-gradient(to right bottom, #110149, #5b004d, #8e0043, #b22d32, #c4611b, #c77e1a, #c69925, #c2b43a, #c6bf52, #cbcb68, #d0d57e, #d6e094);

background-image: linear-gradient(to right bottom, #110149, #003074, #005485, #00767f, #009570, #00a666, #18b555, #42c438, #3dcd49, #36d65a, #2ce06a, #1fe97a);

background-image: linear-gradient(to right bottom, #f8ff00, #ffdb00, #ffb600, #fd9200, #f36d00, #e77000, #dc7200, #d17400, #c19500, #a6b400, #7ed03d, #1fe97a);

background-image: linear-gradient(to right bottom, #af2a2a, #ba0042, #bd005f, #b60081, #a000a5, #8b3ec8, #675de7, #0077ff, #00a3ff, #00c2fc, #00d9bf, #1fe97a);

background-image: linear-gradient(to left bottom, #ff0000, #fa5d00, #f28700, #eaa819, #e3c547, #edbb3d, #f6b037, #ffa435, #ff5a3e, #ff006e, #e200b4, #0d00ff);

background-image: linear-gradient(to right bottom, #ff00a0, #ff366b, #ff7138, #fea300, #d5cc00, #a0d946, #68df79, #00e2a9, #00c7d8, #00a6ff, #0079ff, #0d00ff);

background-image: linear-gradient(to left top, #c2c1be, #9b9997, #767472, #525050, #302f2f, #3a2b2c, #432729, #4b2226, #813932, #b45733, #e07e29, #ffad00);

background-image: linear-gradient(to left top, #ffffff, #cacaca, #979797, #676767, #3b3b3b, #372e3c, #3b1f36, #400728, #68004c, #8c007d, #a700b8, #b100ff);

background-image: linear-gradient(to left top, #000000, #150d10, #21151c, #2c1c28, #372436, #552d48, #773556, #9b3c5e, #d35248, #e9830a, #d2c100, #78ff00);

background-image: linear-gradient(to left top, #b5b1bc, #a495ab, #987897, #8e5a7e, #843b61, #7a2b55, #701a4a, #66003f, #5a0044, #4c0249, #3b074d, #260c50);

background-image: linear-gradient(to left top, #ff0043, #cf0059, #97165e, #602053, #311c39, #2a1a3b, #22183d, #16173f, #17206c, #11289b, #0430cc, #0035ff);

background-image: linear-gradient(to left top, #3a124b, #2d1440, #221335, #191229, #120d1c, #120c1e, #110c20, #100b22, #111035, #101148, #10125c, #111170);


background-image: linear-gradient(to left top, #310087, #002586, #00317a, #003768, #003a54, #09465c, #195362, #295f68, #2b7d8b, #299cb0, #20bdd6, #00deff);
 */
