@font-face {
  font-family: "gilroybold";
  src: url(./assets/CSS-files/Gilroy-ExtraBold.otf);
}
@font-face {
  font-family: "gilroylight";
  src: url(./assets/CSS-files/Gilroy-Light.otf);
}
.signin-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.signin-header {
  width: 250px;
  height: 58px;
  /* margin-top: 130px; */
  font-family: gilroybold;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #ffffff;
  text-align: center;
}

.signin-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-field {
  /* padding-top: 6px;
  padding-left: 10px; */
  width: 40vw;
  height: 50px;
  color: black;
  background: rgb(232, 240, 254);
  border-radius: 12px;
}

.tc-text {
  color: #ffffff;
  width: 238px;
  height: 20px;
}

.signin-button {
  width: 128.25px;
  height: 57px;
  margin-top: 25px;
  background: #14b5e5;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.signin-button-text {
  margin: auto;
  font-family: Inter;
  font-style: normal;
  font-weight: 800;
  font-size: 19.95px;
  line-height: 36px;
  font-size: 20px;
  color: #ffffff;
}

.tc-text-container {
  display: flex;
  margin-top: 5px;
}

.footer-text {
  width: 219px;
  height: 24px;
  font-family: Inter;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}
.footer-text-link {
  width: 77px;
  height: 24px;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}
.password-reset-link {
  width: 77px;
  height: 24px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  text-decoration: underline;
  cursor: pointer;
}
.MuiInputLabel-filled.MuiInputLabel-shrink {
  transform: translate(12px, 2px) scale(1) !important ;
}
.MuiFormLabel-root {
  font-weight: bold !important;
}
/* .MuiInputLabel-formControl{
    top:-10px !important;
} */
/* @media  (max-width:1000px){
    .text-field{
        width: 100%;
    }
} */
@media (max-width: 700px) {
  .text-field {
    width: 90vw;
  }
  .signin-container {
    height: max-content;
  }
}
.MuiFormLabel-root {
  margin-left: 6px;
  margin-top: 5px;
  cursor: default;
}
