@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

.cryptoList #histitle {
  margin-left: 15vw;
  margin-top: 10vh;
  color: white;
}
#histitle{
  font-family: 'Montserrat', sans-serif;
}

.cryptoList #statstable {
  width: 40vw;
  margin-top: 5vh;
  margin-left: 5vw;
  margin-bottom: 5vh;
}
.cryptoList #Even1 {
  background-color: rgb(104, 104, 139);
  color: white;
}
.cryptoList #od1 {
  color: rgb(47, 175, 218);
}

.cryptoList #Odd1 {
  background-color: #1b1940;
}
#statstable::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}