#histitle {
  margin-left: 15vw;
  margin-top: 10vh;
  color: white;
}

#statstable {
  width: 27vw;
  margin-top: 5vh;
  margin-left: 5vw;
  margin-bottom: 5vh;
}
#Even1 {
  background-color: rgb(104, 104, 139);
  color: white;
}
#od1 {
  color: rgb(47, 175, 218);
}

#Odd1 {
  background-color: #1b1940;
}
@media  (max-width:700px){
  #statstable {
    width: 70vw;
    margin: 5vw;
  }
}
