.sentimentsChart {
  width: 25vw;
  background-color: #3592da;
  margin-bottom: 100px;
  border-radius: 30px;
  height: 36vh;
  padding-left: 15px;
  padding-right: 15px;
}

.sentimentsChart h3 {
  color: #fff;
  margin-left: 5%;
}
